// Non-modular or client styles for .l-header region.
$lato: "Lato-Medium",Verdana,Helvetica,sans-serif;

.l-header {
  font-family: $lato;
  font-size: 1em;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

// Top Bar
//--------------------------------------------------
.contain-to-grid {
  margin-top: 20px;
}
.contain-to-grid,
.top-bar {
  background-color: rgba(10, 78, 115, 0.85);
  .title-area {}
}

.top-bar-section {
  ul {
    //background-color: pink;
  }
  li a:not(.button) {
    background-color: rgba(10, 78, 115, 0.85);
  }
  li a:hover:not(.button) {
    background-color: rgba(0, 36, 60, 0.75);
  }
  ul li > a {
    font-size: 1em;
    font-weight: 400;
  }
}
.top-bar-section .left {}
.top-bar-section .right {}
#logo {
  text-align: center;
}
