/* hide the second date picker */
#edit-field-event-dates-und-0-value2-datepicker-popup-0 {
  display: none;
}
/* grey out the second date picker */
input.form-text.disabled-field {
  background-color: lightgrey;
}

/* stuff just for admin to view */
.node-type-block-content .form-item-title,
.page-node-webform-results .primary-tabs ul li:nth-child(5),
.admin-only {
  display: none;
}
.admin-logged-in.node-type-block-content .form-item-title,
.admin-logged-in.page-node-webform-results .primary-tabs ul li:nth-child(5),
.admin-logged-in .admin-only {
  display: block;
}