// Blocks
.block {}
.block-title {}
.block-content {}

// Drupal sytem blocks:
// .block-search {}
// .block-system {}
.custom-panel {
  @include panel(#FF69B4, 20px); // true is default, false doesn't adjust the header height.
  a:link,
  a:visited {
    color: white;
  }
}